body{
	background-color: blue;
}

h1{
	color: white;
	padding: 10px;
	padding-top: 30px;
}

#main{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 600px;

}

.button{
	color: white;
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 15px;
	background: green;
}

h3{
	color: white;
	text-align: center;
	padding: 20px;
}