body {
  background-color: blue;
}

.row {
  vertical-align: baseline;
}

#question_div {
  vertical-align: middle;
  display: table-cell;
}

#answer_text {
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding: 12px;
}

#ans {
  vertical-align: middle;
  padding: 12px;
}

h1 {
  text-align: center;
  color: white;
  padding: 5px;

}

#game_title{
  border-radius: 20px;
  background: white;
    vertical-align: middle;
  color: white;
  text-align: center;
  
}
#title{
  color: blue;
}

h4 {
  color: white;
}

h3 {
  vertical-align: middle;
  color: white;
  text-align: center;
  padding: 20px;
}

h4 {
  vertical-align: middle;
}

form {
  color: white;
}

#start_div{
  display: flex;
  justify-content: center;
  align-items: center;
}


#question {
  vertical-align: baseline;
}

#main {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#main_container {
  width: 100%;
  min-height: 500px;
  padding: 20px;
}

.button {
  margin: 10px;
  color: white;
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 15px;
  /*background: green;*/
  text-align: center
}

#start_button{

}

#butt1 {
  margin: 10px;
}

#butt2 {
  margin: 10px;
}

#butt3 {
  margin: 10px;
}

#butt4 {
  margin: 10px;
}

#teamButt {
  margin: 15px;
  align-items: center;
}