

body {
  background-color: #33334d;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Righteous', cursive;
}
.form-control{
	background: #33334d;
	border:2px solid white;
}

#question_div {
  vertical-align: middle;
  display: table-cell;
}
#start_div{
  margin-top: 20px;
}

#new_div{
	background-color:rgb(255,0,0);
}

#dropdownMenuButton{
	margin-top: : 20px;
	background: #33334d;
	color: white;
	border: 2px solid white;

}
#answer_text {
  font-style: italic;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding: 12px;
  
}
.dropdown-menu{
	background: #33334d;
	color: white;
	border: 2px solid white;
}
#categories{
  display: flex;
  justify-content: center;
  align-items: center;
   
}
#team_form{
	color: white;
}

#ans {
  vertical-align: middle;
  padding: 12px;
}

h1 {
  text-align: center;
  color: white;


}

#game_title{
  border-radius: 20px;
  background: #33334d;
  vertical-align: middle;
  color: white;
  text-align: center;
  
}
#start_btn{
	color: white;
	border: 2px solid white;
}

#title{
  font-style: oblique;
  color: white;

}

h4 {
  color: white;
}

h3 {
  vertical-align: middle;
  color: white;
  text-align: center;
  padding: 20px;
}

h4 {
  vertical-align: middle;
}
h5{
	color: white;
	display: inline;
	padding-top: 10px;
}

#top_bar {
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  border-top: 4px solid white;

}

#start_div{
  display: flex;
  justify-content: center;
  align-items: center;
}


#question {
  vertical-align: baseline;
}

#main_container {
  width: 100%;
  min-height: 500px;
  padding: 20px;
}

.button {
  margin: 10px;
  color: white;
  display: block;
  max-width: 300px;
  margin: auto;
  padding: 15px;
  /*background: green;*/
  text-align: center
}

#start_button{

}

#butt1 {
  margin: 10px;
}

#butt2 {
  margin: 10px;
}

#butt3 {
  margin: 10px;
}

#butt4 {
  margin: 10px;
}

#teamButt {
  margin: 15px;
  align-items: center;
  border: 2px solid white;
  color: white;
}